/*top*/

body{
    word-wrap:break-word;
}


.headerviewtext{
    font-size:21px;
    text-transform: capitalize;
}

.headerview .x-button{
    margin:0 15px !important;
}

.topviewtext{
    font-size:24px;
}

.topview .x-toolbar-body-el{
    /*background-color:#1c8ae1;*/
}

.go-header-menu .x-menu-body-el > .x-non-menuitem{
    margin:0 15px;
}



/*Menu*/
.x-treelist-item-text{
  padding:10px 0;
  margin-left:35px !important;
}

.x-treelist-item-icon{
  padding-top:10px;
}

.x-treelist-nav .x-treelist-item-expander{
    line-height:55px;
}

/*.x-treelist-nav .x-treelist-item-expanded .x-treelist-item{
    background-color:#4eb0ff;
}

.x-treelist-nav .x-treelist-toolstrip{
    background-color:#4eb0ff;
}

.x-treelist-nav .x-treelist-item-selected.x-treelist-item-tool{
    background-color:#4eb0ff;
}*/



/*Field dan label*/

.x-field .x-input-wrap-el {
    border:1px solid #ccc;
    border-radius: 5px;
}

.x-field.x-focused .x-body-el,.x-textfield.x-focused .x-input-wrap-el{
    border-color:#3892d4 !important;
    box-shadow:0 0 0;
}

.x-textfield .x-input-el{
    padding:10px;
    color:#81919a;
}


.x-textfield .x-input-el:read-only {
    background-color:#efefef;
 }
 
 .x-textfield .x-input-el:-moz-read-only {
    background-color:#efefef;
 }
 
 .x-selectfield.x-textfield .x-input-el:read-only{
     background-color:transparent !important;
 }
 
 .x-selectfield.x-textfield .x-input-el:-moz-read-only{
     background-color:transparent !important;
 }


.x-field.x-label-align-horizontal > .x-body-wrap-el {
    /*max-height: 42px;*/
}
.x-field > .x-label-el {
    color:#656f75;
    padding:10px 10px 0 8px;
    width: 30%;
    white-space: pre-wrap;
    font-size: 14px;
    text-transform: capitalize;
    max-width:130px;
    opacity:1 !important;
}

.go-report .x-field > .x-label-el {
    max-width:200px;
}

.x-field-group-container .x-group-inner-container > .x-body-el {
    background-color: #fff;
}
.x-field {
    margin:0 0 8px;
}
.x-component-celleditor{
    margin:0 0 0 0 !important;
}
.x-component-celleditor > .x-body-wrap-el > .x-input-wrap-el {
    /* border:1px solid #ccc; */
    border-radius: 0px !important;
    padding:auto !important;
}
.x-textareafield{
    height:70px;
}

.x-field.x-label-align-right > .x-label-el {
    padding-left: 2px;
}
/* .x-checkboxfield{
    margin:5px 15px 15px 0;
} */

.x-field.x-required > .x-label-el::after{
    content:"";
}

.x-field.x-required > .x-label-el::before{
    content:"*";
    position:absolute;
    top:10px;
    left:0;
    color:red;
}


.x-checkboxfield.x-focused .x-label-el{
    color:#656f75 !important;
}

.x-checkboxfield .x-label-el{
    margin-right:5px;
}

.x-button{
    max-height:36px;
}

.canvas-image{
    margin:0 !important;
    width:100% !important;
    height:150px;
}

.go-text-readonly .x-input-wrap-el{
    background-color:red;
}





/*table*/
.x-header-el,.x-trigger-el{
    background-color:#2196f3 !important;
    color:white !important;
}

.x-sort-icon-el{
    color:white !important;
}

.x-listitem:nth-child(odd){
    background-color:white;
}

.go-table .x-dock-vertical > .x-component{
    max-height:none !important;
    background-color:#fff;
    box-shadow:0 0 0;
}

.go-table .x-titlebar-body-el{
    padding:15px 0;
}

.go-table .x-dock-vertical{
    padding:0 15px 30px;
    background-color:#fff;
}

.go-table--sort{
    background-color:#2196f3;
}

.go-table .x-titlebar .x-title{
    padding:0;
    color:#333;
}

.go-table--search .x-layout-box.x-pack-start{
    padding-top:15px;
}


.go-table .x-toolbar-body-el{
    padding:0 15px;
}

.go-table .x-panelheader > .x-body-el{
    padding:0 15px;
    background-color:#2196f3;
}

.go-table .x-paneltitle .x-text-el,.go-table .x-dialogtool .x-icon-el{
    color:#fff;
}

.go-table .x-gridcell-body-el{
    /*padding:5px;*/
}

.go-table--list .x-dock-vertical{
    background-color:#efefef;
    margin:0 15px 30px;
}







/*content*/

.x-panel-body-el{
    background-color:#e8e8e8;
}


.centerview{
    background-image:none;
}

.x-formpanel-body-el{
    background-color:#fff;
    padding:15px;
}

.x-formpanel .x-panelheader > .x-body-el{
    background-color:#fff;
    padding:30px 15px 0;
}

.x-formpanel .x-paneltitle{
    color:#3a4348;
    padding:0 0 10px;
    border-bottom:1px solid #81919a;
    font-size:16px;
    font-weight:400;
}

.x-nativescroller.x-overflow-y-auto .x-toolbar-footer{
    background-color:#fff;
}





/*accordion and tab*/

.x-panel-accordion-body-el{
    padding:0;
}

.x-tabbar{
    background-color:#fff;
    box-shadow:0 0 0;
}


.x-tabbar .x-button{
    max-height:none;
}


.x-paneltool-accordion .x-icon-el{
    color:#fff;
}

/* .x-tab.x-has-text .x-inner-el{
    padding:15px 30px;
    background-color:#fff;
    color:#333;
} */

.x-tab.x-has-text .x-inner-el .x-text-el{
    text-transform:capitalize;
}

.x-paneltitle-accordion{
    color:#fff;
}

.x-layout-card-item .x-toolbar-footer{
    background-color:#0960a5;
}

.go-btn-bot .x-toolbar-footer{
    background-color:#cdcdcd !important;
}



/*login*/
.go-login{
    background:#ccc;
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center bottom;
    position:relative;
}

/*.go-login:after{
    position:absolute;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.3);
    content:"";
    left:0;
    top:0;
    z-index:1;
    filter: blur(8px);
}*/

.go-login .x-panel{
    position:relative;
    z-index:2;
}

/*.go-login .x-panel-body-el{
    background-color:#fefefe;
    border-radius:5px;
}*/

.go-login .x-label-el{
    display:none !important;
}

.go-login .x-input-wrap-el{
    background-color:#fff;
    padding:5px 15px;
    border-radius:0;
}

.go-login-logo{
    position:relative;
    z-index:2;
    text-align:center;
    margin-bottom:20px;
}

.go-login-logo img{
    height:100px;
}

.go-login .x-button-action .x-inner-el{
    background:#4c81eb;
    border-color:#4c81eb;
    padding:15px 20px !important;
    border-radius:0 !important;
}

.go-login-box__form{
    padding: 60px;
    background: #fefefe;
    min-width: 400px;
    box-sizing: border-box;
    box-shadow:3px 3px 3px rgba(0,0,0,0.8);
}

.go-login-box__art{
    padding: 60px;
    min-width: 400px;
    box-sizing: border-box;
    color:#fff;
    background-position:center bottom;
    background-repeat:no-repeat;
    background-size:100%;
    position:relative;
    background-color:red;
    background-image:url(desktop/login.jpg);
    background-position:center center;
    background-size:cover;
    background-repeat:no-repeat;
}

.go-login-box__art-desc{
    margin-top:80px;
}

.go-login-box__art-title{
    font-size: 48px;
    position: relative;
    margin-bottom: 50px;
    letter-spacing: 7px;
    line-height: 46px;
}

.go-login-box__art-title:after{
    position:absolute;
    bottom:-20px;
    left:0;
    width:50px;
    height:5px;
    background-color:#fff;
    content:"";
}

.go-login-btn.x-button{
    max-height:none;
}


.go-login .x-formpanel-body-el{
    padding:30px;
    box-shadow:3px 3px 3px rgba(0,0,0,0.8);
}
/* UNTUK LOADER SPIN */
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin:auto;
    animation: spin 0.4s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.customLoader .x-panel-body-el {
    background: transparent;
}
.customLoader .x-dialog-outer-border-trbl {
    border-width: 0px !important;
}

/*END UNTUK LOADER SPIN */
.label-normal{
    text-transform: none !important;
    margin-left:10px;
}

.x-field.x-required > .label-normal ::before{
    content:"*";
    margin-left:3px !important;
    color:red !important;
}
.x-field.x-required > .label-normal::before {
    content: "" !important;
}

.x-field.x-disabled > .x-label-el {
    opacity: 1.0 !important;
}

.x-field > .x-label-el {
    color: #312d2d;
    FONT-WEIGHT: bold;
}
.QLPreview>.x-container-body-wrap-el>.x-dialog-outer-border-rbl>.x-header-position-top>.x-body-wrap-el>.x-managed-borders>.x-docked-top.x-noborder-trl > .x-layout-box.x-align-center{
    align-items: center;
    display:none;
}
/* .x-listitem.x-gridrow.x-component.x-layout-auto-item{
    transform: translate3d(0px, 0px, 0px) !important;
} */
/* .x-gridcell-body-el, .x-roweditorcell {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: normal;
} */
/* .x-gridrow .x-cells-el {
    display: table;
    table-layout: fixed;
    width: 0;
    background-color: inherit;
} */
/* .x-list-inner-ct.x-infinite > * {
    position: initial !important;
    width: 100%;
}
.x-gridcolumn .x-text-el {
    white-space: normal !important;
    overflow: hidden;
    text-overflow: ellipsis;
} */
.customForm>
.x-body-wrap-el.x-formpanel-body-wrap-el>
.x-dock.x-dock-vertical.x-managed-borders>
.x-toolbar.x-container.x-component.x-noborder-trbl.x-toolbar-footer{
    display:none !important;
}

.tdGridEditableCell{
    background-color:green; color:white
}

.x-container.x-component.x-tabpanel.x-layout-auto-item.x-heighted{
    background-color: white !important;
}

.customreadonly>.x-body-wrap-el>.x-body-el>.x-input-wrap-el>.x-input-el{
    background-color: #efefef !important;
}
.customreadonly>.x-body-wrap-el>.x-body-el>.x-input-wrap-el>.x-input-el:read-only{
    background-color: #efefef !important;
}

.customreadonlyfalse>.x-body-wrap-el>.x-body-el>.x-input-wrap-el>.x-input-el{
    background-color: transparent !important;
}
.customreadonlyfalse>.x-body-wrap-el>.x-body-el>.x-input-wrap-el>.x-input-el:read-only{
    background-color: transparent !important;
}
.x-checkcell .x-checkbox-el {
    color: #2d9ad5 !important;
}
/* .x-checkcolumn .x-checkbox-el {
    color: #2d9ad5 !important;
} */


.metaform>.x-body-el>.x-field{
    padding:0px !important;
    margin:0px !important;    
}
.metaform>.x-body-el>.x-field>.x-label-el>.x-label-text-el{
    font-size:10px !important;
    padding:2px !important;
    margin:1px !important;    

}

.metaform>.x-body-el>.x-field>.x-body-wrap-el>.x-body-el>.x-input-el{
    font-size:10px !important;
    padding:2px !important;
    margin:1px !important;    

}
.qlformbutton>.x-body-wrap-el>.x-dock>.x-body-el{
    display:none !important;
}
.x-gridcell-body-el, .x-roweditorcell {
    user-select: text !important;
}
.QLchart .x-panel-body-el{
    background:#fff;
}

.QLchart_title{
    margin-bottom:10px;
    text-align:center;
}

.QLchart-container{
    padding-left:30px !important;
    padding-right:30px !important;
    box-shadow:0 !important;
    border-radius:0 !important;
}

.x-sliderfield .x-slider {
    flex: 1 1 auto;
    cursor: pointer;
}
/*Purchasing Report - Warna Tabel Outstanding PO */


/*Purchasing Report - Warna Tabel Laporan Target Penjualan */
.tabel-target-penjualan .x-listitem .x-gridcell.x-widthed.x-align-center:nth-child(1){
    background-color:#ffcdd2 !important;
}

.tabel-target-penjualan .x-listitem .x-gridcell.x-widthed.x-align-center:nth-child(2){
    background-color:#e1bee7 !important;
}

.tabel-target-penjualan .x-listitem .x-gridcell.x-widthed.x-align-center:nth-child(3){
    background-color:#bbdefb !important;
}

/* .tabel-target-penjualan .x-listitem .x-gridcell.x-widthed.x-align-center:nth-child(4){
    background-color:#b2dfdb !important;
}

.tabel-target-penjualan .x-listitem .x-gridcell.x-widthed.x-align-center:nth-child(5){
    background-color:#dcedc8 !important;
}
*/

.tabel-target-penjualan .x-listitem .x-gridcell.x-widthed.x-align-center:nth-child(6){
    background-color:#fff9c4 !important;
}

/*.tabel-target-penjualan .x-listitem .x-gridcell.x-widthed.x-align-center:nth-child(7){
    background-color:#ffccbc !important;
}
*/

.tabel-target-penjualan .x-listitem .x-gridcell.x-widthed.x-align-center:nth-child(8){
    background-color:#d7ccc8 !important;
}

.tabel-target-penjualan .x-listitem .x-gridcell.x-widthed.x-align-center:nth-child(9){
    background-color:#cfd8dc !important;
}

/*
.tabel-target-penjualan .x-listitem .x-gridcell.x-widthed.x-align-center:nth-child(10){
    background-color:#ffe0b2 !important;
}

.tabel-target-penjualan .x-listitem .x-gridcell.x-widthed.x-align-center:nth-child(11){
    background-color:#ffcdd2 !important;
}
*/

.tabel-target-penjualan .x-listitem .x-gridcell.x-widthed.x-align-center:nth-child(12){
    background-color:#e1bee7 !important;
}

/*
.tabel-target-penjualan .x-listitem .x-gridcell.x-widthed.x-align-center:nth-child(13){
    background-color:#bbdefb !important;
}

.tabel-target-penjualan .x-listitem .x-gridcell.x-widthed.x-align-center:nth-child(14){
    background-color:#b2dfdb !important;
}
*/

.tabel-target-penjualan .x-listitem .x-gridcell.x-widthed.x-align-center:nth-child(15){
    background-color:#dcedc8 !important;
}

.tabel-target-penjualan .x-listitem .x-gridcell.x-widthed.x-align-center:nth-child(16){
    background-color:#fff9c4 !important;
}

.tabel-target-penjualan .x-listitem .x-gridcell.x-widthed.x-align-center:nth-child(17){
    background-color:#ffccbc !important;
}

/*
.tabel-target-penjualan .x-listitem .x-gridcell.x-widthed.x-align-center:nth-child(18){
    background-color:#d7ccc8 !important;
}
*/

.tabel-target-penjualan .x-listitem .x-gridcell.x-widthed.x-align-center:nth-child(19){
    background-color:#cfd8dc !important;
}

/*
.tabel-target-penjualan .x-listitem .x-gridcell.x-widthed.x-align-center:nth-child(20){
    background-color:#ffe0b2 !important;
}


.tabel-target-penjualan .x-listitem .x-gridcell.x-widthed.x-align-center:nth-child(21){
    background-color:#ffcdd2 !important;
}
*/

.tabel-target-penjualan .x-listitem .x-gridcell.x-widthed.x-align-center:nth-child(22){
    background-color:#e1bee7 !important;
}

/*
.tabel-target-penjualan .x-listitem .x-gridcell.x-widthed.x-align-center:nth-child(23){
    background-color:#bbdefb !important;
}

.tabel-target-penjualan .x-listitem .x-gridcell.x-widthed.x-align-center:nth-child(24){
    background-color:#b2dfdb !important;
}
*/

.tabel-target-penjualan .x-listitem .x-gridcell.x-widthed.x-align-center:nth-child(25){
    background-color:#dcedc8 !important;
}

.tabel-target-penjualan .x-listitem .x-gridcell.x-widthed.x-align-center:nth-child(26){
    background-color:#fff9c4 !important;
}

/*
.tabel-target-penjualan .x-listitem .x-gridcell.x-widthed.x-align-center:nth-child(27){
    background-color:#ffccbc !important;
}

.tabel-target-penjualan .x-listitem .x-gridcell.x-widthed.x-align-center:nth-child(28){
    background-color:#d7ccc8 !important;
}
*/

.tabel-target-penjualan .x-listitem .x-gridcell.x-widthed.x-align-center:nth-child(29){
    background-color:#cfd8dc !important;
}

/*

.tabel-target-penjualan .x-listitem .x-gridcell.x-widthed.x-align-center:nth-child(30){
    background-color:#ffe0b2 !important;
}

.tabel-target-penjualan .x-listitem .x-gridcell.x-widthed.x-align-center:nth-child(31){
    background-color:#ffcdd2 !important;
}
*/

.tabel-target-penjualan .x-listitem .x-gridcell.x-widthed.x-align-center:nth-child(32){
    background-color:#e1bee7 !important;
}

.tabel-target-penjualan .x-listitem .x-gridcell.x-widthed.x-align-center:nth-child(33){
    background-color:#bbdefb !important;
}

/*
.tabel-target-penjualan .x-listitem .x-gridcell.x-widthed.x-align-center:nth-child(34){
    background-color:#b2dfdb !important;
}

.tabel-target-penjualan .x-listitem .x-gridcell.x-widthed.x-align-center:nth-child(35){
    background-color:#dcedc8 !important;
}
*/

.tabel-target-penjualan .x-listitem .x-gridcell.x-widthed.x-align-center:nth-child(36){
    background-color:#fff9c4 !important;
}

/*
.tabel-target-penjualan .x-listitem .x-gridcell.x-widthed.x-align-center:nth-child(37){
    background-color:#ffccbc !important;
}

.tabel-target-penjualan .x-listitem .x-gridcell.x-widthed.x-align-center:nth-child(38){
    background-color:#d7ccc8 !important;
}
*/

.tabel-target-penjualan .x-listitem .x-gridcell.x-widthed.x-align-center:nth-child(39){
    background-color:#cfd8dc !important;
}

.tabel-target-penjualan .x-listitem .x-gridcell.x-widthed.x-align-center:nth-child(40){
    background-color:#ffe0b2 !important;
}
/*

.tabel-target-penjualan .x-listitem .x-gridcell.x-widthed.x-align-center:nth-child(41){
    background-color:#ffcdd2 !important;
}

.tabel-target-penjualan .x-listitem .x-gridcell.x-widthed.x-align-center:nth-child(42){
    background-color:#e1bee7 !important;
}
*/

.tabel-target-penjualan .x-listitem .x-gridcell.x-widthed.x-align-center:nth-child(43){
    background-color:#bbdefb !important;
}

/*

.tabel-target-penjualan .x-listitem .x-gridcell.x-widthed.x-align-center:nth-child(44){
    background-color:#b2dfdb !important;
}

.tabel-target-penjualan .x-listitem .x-gridcell.x-widthed.x-align-center:nth-child(45){
    background-color:#dcedc8 !important;
}
*/

.tabel-target-penjualan .x-listitem .x-gridcell.x-widthed.x-align-center:nth-child(46){
    background-color:#fff9c4 !important;
}

.tabel-target-penjualan .x-listitem .x-gridcell.x-widthed.x-align-center:nth-child(47){
    background-color:#ffccbc !important;
}

/*

.tabel-target-penjualan .x-listitem .x-gridcell.x-widthed.x-align-center:nth-child(48){
    background-color:#d7ccc8 !important;
}

.tabel-target-penjualan .x-listitem .x-gridcell.x-widthed.x-align-center:nth-child(49){
    background-color:#cfd8dc !important;
}
*/

.tabel-target-penjualan .x-listitem .x-gridcell.x-widthed.x-align-center:nth-child(50){
    background-color:#ffe0b2 !important;
}

/*

.tabel-target-penjualan .x-listitem .x-gridcell.x-widthed.x-align-center:nth-child(51){
    background-color:#ffcdd2 !important;
}

.tabel-target-penjualan .x-listitem .x-gridcell.x-widthed.x-align-center:nth-child(52){
    background-color:#e1bee7 !important;
}
*/

.tabel-target-penjualan .x-listitem .x-gridcell.x-widthed.x-align-center:nth-child(53){
    background-color:#bbdefb !important;
}

.tabel-target-penjualan .x-listitem .x-gridcell.x-widthed.x-align-center:nth-child(54){
    background-color:#b2dfdb !important;
}

/*
.tabel-target-penjualan .x-listitem .x-gridcell.x-widthed.x-align-center:nth-child(55){
    background-color:#dcedc8 !important;
}

.tabel-target-penjualan .x-listitem .x-gridcell.x-widthed.x-align-center:nth-child(56){
    background-color:#fff9c4 !important;
}
*/

.tabel-target-penjualan .x-listitem .x-gridcell.x-widthed.x-align-center:nth-child(57){
    background-color:#ffccbc !important;
}
/*

.tabel-target-penjualan .x-listitem .x-gridcell.x-widthed.x-align-center:nth-child(58){
    background-color:#d7ccc8 !important;
}

.tabel-target-penjualan .x-listitem .x-gridcell.x-widthed.x-align-center:nth-child(59){
    background-color:#cfd8dc !important;
}
*/

.tabel-target-penjualan .x-listitem .x-gridcell.x-widthed.x-align-center:nth-child(60){
    background-color:#ffe0b2 !important;
}

.tabel-target-penjualan .x-listitem .x-gridcell.x-widthed.x-align-center:nth-child(61){
    background-color:#ffcdd2 !important;
}

/*
.tabel-target-penjualan .x-listitem .x-gridcell.x-widthed.x-align-center:nth-child(62){
    background-color:#e1bee7 !important;
}

.tabel-target-penjualan .x-listitem .x-gridcell.x-widthed.x-align-center:nth-child(63){
    background-color:#bbdefb !important;
}
*/
.tabel-target-penjualan .x-listitem .x-gridcell.x-widthed.x-align-center:nth-child(64){
    background-color:#b2dfdb !important;
}
/*
.tabel-target-penjualan .x-listitem .x-gridcell.x-widthed.x-align-center:nth-child(65){
    background-color:#dcedc8 !important;
}


.tabel-target-penjualan .x-listitem .x-gridcell.x-widthed.x-align-center:nth-child(66){
    background-color:#fff9c4 !important;
}
*/

.tabel-target-penjualan .x-listitem .x-gridcell.x-widthed.x-align-center:nth-child(67){
    background-color:#ffccbc !important;
}

.tabel-target-penjualan .x-listitem .x-gridcell.x-widthed.x-align-center:nth-child(68){
    background-color:#d7ccc8 !important;
}
/*

.tabel-target-penjualan .x-listitem .x-gridcell.x-widthed.x-align-center:nth-child(69){
    background-color:#cfd8dc !important;
}

.tabel-target-penjualan .x-listitem .x-gridcell.x-widthed.x-align-center:nth-child(70){
    background-color:#ffe0b2 !important;
}
*/

.tabel-target-penjualan .x-listitem .x-gridcell.x-widthed.x-align-center:nth-child(71){
    background-color:#ffcdd2 !important;
}
/*

.tabel-target-penjualan .x-listitem .x-gridcell.x-widthed.x-align-center:nth-child(72){
    background-color:#e1bee7 !important;
}


.tabel-target-penjualan .x-listitem .x-gridcell.x-widthed.x-align-center:nth-child(73){
    background-color:#bbdefb !important;
}
*/

.tabel-target-penjualan .x-listitem .x-gridcell.x-widthed.x-align-center:nth-child(74){
    background-color:#b2dfdb !important;
}

.tabel-target-penjualan .x-listitem .x-gridcell.x-widthed.x-align-center:nth-child(75){
    background-color:#dcedc8 !important;
}
/*

.tabel-target-penjualan .x-listitem .x-gridcell.x-widthed.x-align-center:nth-child(76){
    background-color:#fff9c4 !important;
}

.tabel-target-penjualan .x-listitem .x-gridcell.x-widthed.x-align-center:nth-child(77){
    background-color:#ffccbc !important;
}
*/

.tabel-target-penjualan .x-listitem .x-gridcell.x-widthed.x-align-center:nth-child(78){
    background-color:#d7ccc8 !important;
}

/*
.tabel-target-penjualan .x-listitem .x-gridcell.x-widthed.x-align-center:nth-child(79){
    background-color:#cfd8dc !important;
}

.tabel-target-penjualan .x-listitem .x-gridcell.x-widthed.x-align-center:nth-child(80){
    background-color:#ffe0b2 !important;
}
*/

.tabel-target-penjualan .x-listitem .x-gridcell.x-widthed.x-align-center:nth-child(81){
    background-color:#ffcdd2 !important;
}

.tabel-target-penjualan .x-listitem .x-gridcell.x-widthed.x-align-center:nth-child(82){
    background-color:#e1bee7 !important;
}
/*

.tabel-target-penjualan .x-listitem .x-gridcell.x-widthed.x-align-center:nth-child(83){
    background-color:#bbdefb !important;
}

.tabel-target-penjualan .x-listitem .x-gridcell.x-widthed.x-align-center:nth-child(84){
    background-color:#b2dfdb !important;
}
*/

.tabel-target-penjualan .x-listitem .x-gridcell.x-widthed.x-align-center:nth-child(85){
    background-color:#dcedc8 !important;
}
/*

.tabel-target-penjualan .x-listitem .x-gridcell.x-widthed.x-align-center:nth-child(86){
    background-color:#fff9c4 !important;
}

.tabel-target-penjualan .x-listitem .x-gridcell.x-widthed.x-align-center:nth-child(87){
    background-color:#ffccbc !important;
}
*/

.tabel-target-penjualan .x-listitem .x-gridcell.x-widthed.x-align-center:nth-child(88){
    background-color:#d7ccc8 !important;
}

.tabel-target-penjualan .x-listitem .x-gridcell.x-widthed.x-align-center:nth-child(89){
    background-color:#cfd8dc !important;
}
/*

.tabel-target-penjualan .x-listitem .x-gridcell.x-widthed.x-align-center:nth-child(90){
    background-color:#ffe0b2 !important;
}

.tabel-target-penjualan .x-listitem .x-gridcell.x-widthed.x-align-center:nth-child(91){
    background-color:#ffcdd2 !important;
}
*/

.tabel-target-penjualan .x-listitem .x-gridcell.x-widthed.x-align-center:nth-child(92){
    background-color:#e1bee7 !important;
}
/*

.tabel-target-penjualan .x-listitem .x-gridcell.x-widthed.x-align-center:nth-child(93){
    background-color:#bbdefb !important;
}

.tabel-target-penjualan .x-listitem .x-gridcell.x-widthed.x-align-center:nth-child(94){
    background-color:#b2dfdb !important;
}
*/
.tabel-target-penjualan .x-listitem .x-gridcell.x-widthed.x-align-center:nth-child(95){
    background-color:#dcedc8 !important;
}

.tabel-target-penjualan .x-listitem .x-gridcell.x-widthed.x-align-center:nth-child(96){
    background-color:#fff9c4 !important;
}
/*

.tabel-target-penjualan .x-listitem .x-gridcell.x-widthed.x-align-center:nth-child(97){
    background-color:#ffccbc !important;
}

.tabel-target-penjualan .x-listitem .x-gridcell.x-widthed.x-align-center:nth-child(98){
    background-color:#d7ccc8 !important;
}
*/

.tabel-target-penjualan .x-listitem .x-gridcell.x-widthed.x-align-center:nth-child(99){
    background-color:#cfd8dc !important;
}

/*.tabel-target-penjualan .x-listitem .x-gridcell.x-widthed.x-align-center:nth-child(100){
    background-color:#ffe0b2 !important;
}


.tabel-target-penjualan .x-listitem .x-gridcell.x-widthed.x-align-center:nth-child(101){
    background-color:#ffe0b2 !important;
}
*/

.tabel-target-penjualan .x-listitem .x-gridcell.x-widthed.x-align-center:nth-child(102){
    background-color:#ffcdd2 !important;
}


/*Header Kolom - Purchasing Report - Warna Tabel Laporan Target Penjualan*/
/*No*/
.tabel-target-penjualan .x-headercontainer-body-el .x-layout-box-item:nth-child(1) .x-header-el{
    background-color:#8d6e63 !important;
}

/*Tanggal */
.tabel-target-penjualan .x-headercontainer-body-el .x-layout-box-item:nth-child(2) .x-header-el{
    background-color:#4db6ac !important;
}

/* INSTAGRAM */
.tabel-target-penjualan .x-headercontainer-body-el .x-layout-box-item:nth-child(3) .x-header-el{
    background-color:#ef5350 !important;
}

.tabel-target-penjualan .x-headercontainer-body-el .x-layout-box-item:nth-child(4) .x-header-el{
    background-color:#ef5350 !important;
}

.tabel-target-penjualan .x-headercontainer-body-el .x-layout-box-item:nth-child(5) .x-header-el{
    background-color:#ef5350 !important;
}

.tabel-target-penjualan .x-headercontainer-body-el .x-layout-box-item:nth-child(6) .x-header-el{
    background-color:#ef5350 !important;
}

.tabel-target-penjualan .x-headercontainer-body-el .x-layout-box-item:nth-child(7) .x-header-el{
    background-color:#ef5350 !important;
}

/*Tanggal */
.tabel-target-penjualan .x-headercontainer-body-el .x-layout-box-item:nth-child(8) .x-header-el{
    background-color:#4db6ac !important;
}

/* SHOPEE ERUFURNIA */
.tabel-target-penjualan .x-headercontainer-body-el .x-layout-box-item:nth-child(9) .x-header-el{
    background-color:#ff7043 !important;
}

.tabel-target-penjualan .x-headercontainer-body-el .x-layout-box-item:nth-child(10) .x-header-el{
    background-color:#ff7043 !important;
}

.tabel-target-penjualan .x-headercontainer-body-el .x-layout-box-item:nth-child(11) .x-header-el{
    background-color:#ff7043 !important;
}

.tabel-target-penjualan .x-headercontainer-body-el .x-layout-box-item:nth-child(12) .x-header-el{
    background-color:#ff7043 !important;
}

.tabel-target-penjualan .x-headercontainer-body-el .x-layout-box-item:nth-child(13) .x-header-el{
    background-color:#ff7043 !important;
}

.tabel-target-penjualan .x-headercontainer-body-el .x-layout-box-item:nth-child(14) .x-header-el{
    background-color:#ff7043 !important;
}

/*Tanggal */
.tabel-target-penjualan .x-headercontainer-body-el .x-layout-box-item:nth-child(15) .x-header-el{
    background-color:#4db6ac !important;
}

/* SHOPEE OLYMPIC */
.tabel-target-penjualan .x-headercontainer-body-el .x-layout-box-item:nth-child(16) .x-header-el{
    background-color:#ff7043 !important;
}

.tabel-target-penjualan .x-headercontainer-body-el .x-layout-box-item:nth-child(17) .x-header-el{
    background-color:#ff7043 !important;
}

.tabel-target-penjualan .x-headercontainer-body-el .x-layout-box-item:nth-child(18) .x-header-el{
    background-color:#ff7043 !important;
}

/*Tanggal */
.tabel-target-penjualan .x-headercontainer-body-el .x-layout-box-item:nth-child(19) .x-header-el{
    background-color:#4db6ac !important;
}

/* SHOPEE OLYMPLAST */
.tabel-target-penjualan .x-headercontainer-body-el .x-layout-box-item:nth-child(20) .x-header-el{
    background-color:#ff7043 !important;
}

.tabel-target-penjualan .x-headercontainer-body-el .x-layout-box-item:nth-child(21) .x-header-el{
    background-color:#ff7043 !important;
}

.tabel-target-penjualan .x-headercontainer-body-el .x-layout-box-item:nth-child(22) .x-header-el{
    background-color:#ff7043 !important;
}

.tabel-target-penjualan .x-headercontainer-body-el .x-layout-box-item:nth-child(23) .x-header-el{
    background-color:#ff7043 !important;
}

.tabel-target-penjualan .x-headercontainer-body-el .x-layout-box-item:nth-child(24) .x-header-el{
    background-color:#ff7043 !important;
}

/*Tanggal */
.tabel-target-penjualan .x-headercontainer-body-el .x-layout-box-item:nth-child(25) .x-header-el{
    background-color:#4db6ac !important;
}

/* TOKOEPEDIA EUFURNIA */
.tabel-target-penjualan .x-headercontainer-body-el .x-layout-box-item:nth-child(26) .x-header-el{
    background-color:#66bb6a !important;
}

.tabel-target-penjualan .x-headercontainer-body-el .x-layout-box-item:nth-child(27) .x-header-el{
    background-color:#66bb6a !important;
}

.tabel-target-penjualan .x-headercontainer-body-el .x-layout-box-item:nth-child(28) .x-header-el{
    background-color:#66bb6a !important;
}

.tabel-target-penjualan .x-headercontainer-body-el .x-layout-box-item:nth-child(29) .x-header-el{
    background-color:#66bb6a !important;
}

.tabel-target-penjualan .x-headercontainer-body-el .x-layout-box-item:nth-child(30) .x-header-el{
    background-color:#66bb6a !important;
}

.tabel-target-penjualan .x-headercontainer-body-el .x-layout-box-item:nth-child(31) .x-header-el{
    background-color:#66bb6a !important;
}


/*Tanggal */
.tabel-target-penjualan .x-headercontainer-body-el .x-layout-box-item:nth-child(32) .x-header-el{
    background-color:#4db6ac !important;
}

/* TOKOEPEDIA OLYMPIC */
.tabel-target-penjualan .x-headercontainer-body-el .x-layout-box-item:nth-child(33) .x-header-el{
    background-color:#66bb6a !important;
}

.tabel-target-penjualan .x-headercontainer-body-el .x-layout-box-item:nth-child(34) .x-header-el{
    background-color:#66bb6a !important;
}

.tabel-target-penjualan .x-headercontainer-body-el .x-layout-box-item:nth-child(35) .x-header-el{
    background-color:#66bb6a !important;
}

.tabel-target-penjualan .x-headercontainer-body-el .x-layout-box-item:nth-child(36) .x-header-el{
    background-color:#66bb6a !important;
}

.tabel-target-penjualan .x-headercontainer-body-el .x-layout-box-item:nth-child(37) .x-header-el{
    background-color:#66bb6a !important;
}

.tabel-target-penjualan .x-headercontainer-body-el .x-layout-box-item:nth-child(38) .x-header-el{
    background-color:#66bb6a !important;
}

/*Tanggal */
.tabel-target-penjualan .x-headercontainer-body-el .x-layout-box-item:nth-child(39) .x-header-el{
    background-color:#4db6ac !important;
}

/* TOKOEPEDIA OLYMPLAST */
.tabel-target-penjualan .x-headercontainer-body-el .x-layout-box-item:nth-child(40) .x-header-el{
    background-color:#66bb6a !important;
}

.tabel-target-penjualan .x-headercontainer-body-el .x-layout-box-item:nth-child(41) .x-header-el{
    background-color:#66bb6a !important;
}

.tabel-target-penjualan .x-headercontainer-body-el .x-layout-box-item:nth-child(42) .x-header-el{
    background-color:#66bb6a !important;
}

.tabel-target-penjualan .x-headercontainer-body-el .x-layout-box-item:nth-child(43) .x-header-el{
    background-color:#66bb6a !important;
}

.tabel-target-penjualan .x-headercontainer-body-el .x-layout-box-item:nth-child(44) .x-header-el{
    background-color:#66bb6a !important;
}

.tabel-target-penjualan .x-headercontainer-body-el .x-layout-box-item:nth-child(45) .x-header-el{
    background-color:#66bb6a !important;
}

/*Tanggal */
.tabel-target-penjualan .x-headercontainer-body-el .x-layout-box-item:nth-child(46) .x-header-el{
    background-color:#4db6ac !important;
}

/* LAZADA EUFURNIA */
.tabel-target-penjualan .x-headercontainer-body-el .x-layout-box-item:nth-child(47) .x-header-el{
    background-color:#7e57c2 !important;
}

.tabel-target-penjualan .x-headercontainer-body-el .x-layout-box-item:nth-child(48) .x-header-el{
    background-color:#7e57c2 !important;
}

.tabel-target-penjualan .x-headercontainer-body-el .x-layout-box-item:nth-child(49) .x-header-el{
    background-color:#7e57c2 !important;
}

.tabel-target-penjualan .x-headercontainer-body-el .x-layout-box-item:nth-child(50) .x-header-el{
    background-color:#7e57c2 !important;
}

.tabel-target-penjualan .x-headercontainer-body-el .x-layout-box-item:nth-child(51) .x-header-el{
    background-color:#7e57c2 !important;
}

.tabel-target-penjualan .x-headercontainer-body-el .x-layout-box-item:nth-child(52) .x-header-el{
    background-color:#7e57c2 !important;
}

/*Tanggal */
.tabel-target-penjualan .x-headercontainer-body-el .x-layout-box-item:nth-child(53) .x-header-el{
    background-color:#4db6ac !important;
}

/* LAZADA OLYMPIC */
.tabel-target-penjualan .x-headercontainer-body-el .x-layout-box-item:nth-child(54) .x-header-el{
    background-color:#7e57c2 !important;
}

.tabel-target-penjualan .x-headercontainer-body-el .x-layout-box-item:nth-child(55) .x-header-el{
    background-color:#7e57c2 !important;
}

.tabel-target-penjualan .x-headercontainer-body-el .x-layout-box-item:nth-child(56) .x-header-el{
    background-color:#7e57c2 !important;
}

.tabel-target-penjualan .x-headercontainer-body-el .x-layout-box-item:nth-child(57) .x-header-el{
    background-color:#7e57c2 !important;
}

.tabel-target-penjualan .x-headercontainer-body-el .x-layout-box-item:nth-child(58) .x-header-el{
    background-color:#7e57c2 !important;
}

.tabel-target-penjualan .x-headercontainer-body-el .x-layout-box-item:nth-child(59) .x-header-el{
    background-color:#7e57c2 !important;
}

/*Tanggal */
.tabel-target-penjualan .x-headercontainer-body-el .x-layout-box-item:nth-child(60) .x-header-el{
    background-color:#4db6ac !important;
}

/* LAZADA OLYMPLAST */
.tabel-target-penjualan .x-headercontainer-body-el .x-layout-box-item:nth-child(61) .x-header-el{
    background-color:#7e57c2 !important;
}

.tabel-target-penjualan .x-headercontainer-body-el .x-layout-box-item:nth-child(62) .x-header-el{
    background-color:#7e57c2 !important;
}

.tabel-target-penjualan .x-headercontainer-body-el .x-layout-box-item:nth-child(63) .x-header-el{
    background-color:#7e57c2 !important;
}

.tabel-target-penjualan .x-headercontainer-body-el .x-layout-box-item:nth-child(64) .x-header-el{
    background-color:#7e57c2 !important;
}

.tabel-target-penjualan .x-headercontainer-body-el .x-layout-box-item:nth-child(65) .x-header-el{
    background-color:#7e57c2 !important;
}

.tabel-target-penjualan .x-headercontainer-body-el .x-layout-box-item:nth-child(66) .x-header-el{
    background-color:#7e57c2 !important;
}

/*Tanggal */
.tabel-target-penjualan .x-headercontainer-body-el .x-layout-box-item:nth-child(67) .x-header-el{
    background-color:#4db6ac !important;
}

/* JD ID EUFURNIA */
.tabel-target-penjualan .x-headercontainer-body-el .x-layout-box-item:nth-child(68) .x-header-el{
    background-color:#d50000 !important;
}

.tabel-target-penjualan .x-headercontainer-body-el .x-layout-box-item:nth-child(69) .x-header-el{
    background-color:#d50000 !important;
}

.tabel-target-penjualan .x-headercontainer-body-el .x-layout-box-item:nth-child(70) .x-header-el{
    background-color:#d50000 !important;
}

.tabel-target-penjualan .x-headercontainer-body-el .x-layout-box-item:nth-child(71) .x-header-el{
    background-color:#d50000 !important;
}

.tabel-target-penjualan .x-headercontainer-body-el .x-layout-box-item:nth-child(72) .x-header-el{
    background-color:#d50000 !important;
}

.tabel-target-penjualan .x-headercontainer-body-el .x-layout-box-item:nth-child(73) .x-header-el{
    background-color:#d50000 !important;
}

/*Tanggal */
.tabel-target-penjualan .x-headercontainer-body-el .x-layout-box-item:nth-child(74) .x-header-el{
    background-color:#4db6ac !important;
}

/* JD ID OLYMPIC */
.tabel-target-penjualan .x-headercontainer-body-el .x-layout-box-item:nth-child(75) .x-header-el{
    background-color:#d50000 !important;
}

.tabel-target-penjualan .x-headercontainer-body-el .x-layout-box-item:nth-child(76) .x-header-el{
    background-color:#d50000 !important;
}

.tabel-target-penjualan .x-headercontainer-body-el .x-layout-box-item:nth-child(77) .x-header-el{
    background-color:#d50000 !important;
}

.tabel-target-penjualan .x-headercontainer-body-el .x-layout-box-item:nth-child(78) .x-header-el{
    background-color:#d50000 !important;
}

.tabel-target-penjualan .x-headercontainer-body-el .x-layout-box-item:nth-child(79) .x-header-el{
    background-color:#d50000 !important;
}

.tabel-target-penjualan .x-headercontainer-body-el .x-layout-box-item:nth-child(80) .x-header-el{
    background-color:#d50000 !important;
}

/*Tanggal */
.tabel-target-penjualan .x-headercontainer-body-el .x-layout-box-item:nth-child(81) .x-header-el{
    background-color:#4db6ac !important;
}

/* DEKORUMA OLYMPIC */
.tabel-target-penjualan .x-headercontainer-body-el .x-layout-box-item:nth-child(82) .x-header-el{
    background-color:#00796b !important;
}

.tabel-target-penjualan .x-headercontainer-body-el .x-layout-box-item:nth-child(83) .x-header-el{
    background-color:#00796b !important;
}

.tabel-target-penjualan .x-headercontainer-body-el .x-layout-box-item:nth-child(84) .x-header-el{
    background-color:#00796b !important;
}

.tabel-target-penjualan .x-headercontainer-body-el .x-layout-box-item:nth-child(85) .x-header-el{
    background-color:#00796b !important;
}

.tabel-target-penjualan .x-headercontainer-body-el .x-layout-box-item:nth-child(86) .x-header-el{
    background-color:#00796b !important;
}

.tabel-target-penjualan .x-headercontainer-body-el .x-layout-box-item:nth-child(87) .x-header-el{
    background-color:#00796b !important;
}

/*Tanggal */
.tabel-target-penjualan .x-headercontainer-body-el .x-layout-box-item:nth-child(88) .x-header-el{
    background-color:#4db6ac !important;
}

/* DEKORUMA OLYMPLAST */
.tabel-target-penjualan .x-headercontainer-body-el .x-layout-box-item:nth-child(89) .x-header-el{
    background-color:#00796b !important;
}

.tabel-target-penjualan .x-headercontainer-body-el .x-layout-box-item:nth-child(90) .x-header-el{
    background-color:#00796b !important;
}

.tabel-target-penjualan .x-headercontainer-body-el .x-layout-box-item:nth-child(91) .x-header-el{
    background-color:#00796b !important;
}

.tabel-target-penjualan .x-headercontainer-body-el .x-layout-box-item:nth-child(92) .x-header-el{
    background-color:#00796b !important;
}

.tabel-target-penjualan .x-headercontainer-body-el .x-layout-box-item:nth-child(93) .x-header-el{
    background-color:#00796b !important;
}

.tabel-target-penjualan .x-headercontainer-body-el .x-layout-box-item:nth-child(94) .x-header-el{
    background-color:#00796b !important;
}

/*Tanggal */
.tabel-target-penjualan .x-headercontainer-body-el .x-layout-box-item:nth-child(95) .x-header-el{
    background-color:#4db6ac !important;
}

/* SEMUA */
.tabel-target-penjualan .x-headercontainer-body-el .x-layout-box-item:nth-child(96) .x-header-el{
    background-color:#9e9d24 !important;
}

.tabel-target-penjualan .x-headercontainer-body-el .x-layout-box-item:nth-child(97) .x-header-el{
    background-color:#9e9d24 !important;
}

.tabel-target-penjualan .x-headercontainer-body-el .x-layout-box-item:nth-child(98) .x-header-el{
    background-color:#9e9d24 !important;
}

.tabel-target-penjualan .x-headercontainer-body-el .x-layout-box-item:nth-child(99) .x-header-el{
    background-color:#9e9d24 !important;
}

.tabel-target-penjualan .x-headercontainer-body-el .x-layout-box-item:nth-child(100) .x-header-el{
    background-color:#9e9d24 !important;
}

.tabel-target-penjualan .x-headercontainer-body-el .x-layout-box-item:nth-child(101) .x-header-el{
    background-color:#9e9d24 !important;
}

/*ACTIOON */
.tabel-target-penjualan .x-headercontainer-body-el .x-layout-box-item:nth-child(102) .x-header-el{
    background-color:#ffc400 !important;
}
.x-sliderfield .x-slider {
    flex: 1 1 auto;
    cursor: pointer;
}