// sass for MyExtGenApp.view.home.HomeView
.go-login {
  background-image:url(get-resource-path('desktop/login.jpg')); 
  color: $color;
  font-size: 18px;
  background-color: $base-foreground-color;
  padding: 15px 0px 0px 15px;
  border: 1px solid lightgray;
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.4);
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center bottom;
}
.menu-setting{
  position: fixed;
  right: 0px;
  top: 0px;
}